* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	/* Primary Colors: */
	--Soft-Cyan: hsl(174, 77%, 80%); /* (Full Slider Bar) */
	--Strong-Cyan: hsl(174, 86%, 45%); /* (Slider Backround) */
	--Light-Grayish-Red: hsl(14, 92%, 95%); /* (Discount Background) */
	--Light-Red: hsl(15, 100%, 70%); /* (Discount Text) */
	--Pale-Blue: hsl(226, 100%, 87%); /* (CTA Text) */
	/* Neutral: */
	--White: hsl (0, 0%, 100%); /* (Pricing Component Background) */
	--Very-Pale-Blue: hsl(230, 100%, 99%); /* (Main Background) */
	--Light-Grayish-Blue: hsl(224, 65%, 95%); /* (Empty Slider Bar) */
	--Light-Grayish-Blue-2: hsl(223, 50%, 87%); /* (Toggle Background) */
	--Grayish-Blue: hsl(225, 20%, 60%); /* (Text) */
	--Dark-Desaturated-Blue: hsl(227, 35%, 25%); /* (Text & CTA Background) */
	/* Padding */
	--row-padding: 30px;
}
@font-face {
	font-family: Manrope;
	src: url("../fonts/Manrope-VariableFont_wght.ttf");
}
body {
	font-size: 15px;
	font-family: Manrope;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.background-top {
	position: absolute;
	height: 50%;
	width: 100%;
	z-index: 5;
}
.background-circles {
	position: absolute;
	top: 20px;
	z-index: 7;
}
.header {
	margin: auto 0 0 0;
	text-align: center;
	z-index: 10;
}
.heading-text {
	color: var(--Dark-Desaturated-Blue);
	margin: 0 0 10px 0;
}
.subheading-text {
	color: var(--Grayish-Blue);
}
.main-container {
	margin: auto 0 auto 0;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	z-index: 10;
}
.upper-row {
	color: var(--Grayish-Blue);
	padding: var(--row-padding);
	margin: 0 0 auto 0;
	width: 500px;
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 10px 10px 0 0;
	z-index: 10;
}
.stats-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 0 25px 0;
}
.price-row {
	display: flex;
	align-items: center;
	gap: 2px;
}
.price-output {
	color: var(--Dark-Desaturated-Blue);
	font-size: 38px;
	font-weight: bolder;
}
.slider-container {
	width: 100%;
}
.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 5px;
	border-radius: 5px;
	background: var(--Light-Grayish-Blue-2);
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}
.slider:hover {
	opacity: 1;
}
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	background: var(--Strong-Cyan);
	cursor: pointer;
	background-image: url("../images/icon-slider.svg");
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: 0 0 15px hsl(174, 86%, 45%);
}
.slider::-webkit-slider-thumb:active {
	cursor: grab;
}
.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #04aa6d;
	cursor: pointer;
}

.mobile-price-row {
	display: none;
}
.toggle-row {
	display: flex;
	align-self: center;
	margin: 45px 0 0 0;
}
.toggle-container {
	display: flex;
	align-items: center;
	gap: 10px;
}
.toggle-text {
	font-size: 12px;
}
.toggle-button {
	display: flex;
	height: fit-content;
	width: 35px;
	padding: 3px;
	border: none;
	outline: none;
	background-color: var(--Strong-Cyan);
	border-radius: 20px;
	cursor: pointer;
}
.toggle-inner {
	width: 12px;
	height: 12px;
	background-color: white;
	border-radius: 100%;
}
.discount-text {
	font-size: 8px;
	font-weight: bold;
	align-self: center;
	position: absolute;
	padding: 2px 5px;
	margin: 0 0 0 240px;
	color: var(--Light-Red);
	background-color: var(--Light-Grayish-Red);
	border-radius: 20px;
}
.footer-row {
	color: var(--Grayish-Blue);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--row-padding);
	background-color: white;
	border-top: 1px solid hsla(174, 86%, 45%, 0.2);
	border-radius: 0 0 10px 10px;
}
.perks-container-column {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.start-button {
	color: white;
	height: fit-content;
	padding: 10px 45px;
	border-radius: 20px;
	background-color: var(--Dark-Desaturated-Blue);
	border: none;
	outline: none;
	cursor: pointer;
	transition: 0.4s;
}
.start-button:hover {
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}
.attribution {
	margin: auto 0 0 0;
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
@media (max-width: 475px) {
	.background-top {
		position: absolute;
		height: 45%;
		width: 100%;
		z-index: 5;
	}
	.header {
		width: 90%;
	}
	.heading-text {
		font-size: 20px;
		width: fit-content;
		margin: 0 auto 20px;
	}
	.subheading-text {
		line-height: 25px;
		margin: 0 auto;
		width: 60%;
	}
	.main-container {
		width: 90%;
		margin: auto 0 auto 0;
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
		border-radius: 10px;
		z-index: 10;
	}
	.upper-row {
		width: 100%;
		align-items: center;
		z-index: 10;
	}
	.stats-row {
		display: flex;
		align-items: center;
	}
	.price-row {
		display: none;
	}
	.slider-container {
		margin: 0 0 30px 0;
	}
	.slider {
		width: 100%;
		height: 5px;
		border-radius: 5px;
		background: #d3d3d3;
		outline: none;
		opacity: 0.7;
		-webkit-transition: 0.2s;
		transition: opacity 0.2s;
	}
	.mobile-price-row {
		display: flex;
		align-items: center;
	}
	.toggle-container {
		display: flex;
		align-items: flex-start;
		gap: 10px;
		margin: -20px 0 0 0;
	}
	.footer-row {
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding: 20px 20px 30px;
		gap: 20px;
	}
	.discount-text {
		display: none;
	}
	.discount-text-2 {
		font-size: 8px;
		font-weight: bold;
		align-self: center;
		position: absolute;
		padding: 2px 5px;
		margin: -20px 0 0 210px;
		color: var(--Light-Red);
		background-color: var(--Light-Grayish-Red);
		border-radius: 20px;
	}
}
